n8n/01-tages-energie-broadcast.json
{
  "name": "Numerologie PRO — Tages-Energie Broadcast",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Täglich 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.numerologie-pro.com/api/cron/daily-energy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.CRON_SECRET}}"
            }
          ]
        }
      },
      "id": "generate-energy",
      "name": "Tages-Energie generieren (Knowledge Base)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.numerologie-pro.com/api/telegram/broadcast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.CRON_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, parse_mode: 'HTML' }) }}"
      },
      "id": "send-broadcast",
      "name": "An Telegram-Kanal senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_ADMIN_CHAT_ID, text: '⚠️ Tages-Energie Broadcast fehlgeschlagen. Bitte manuell prüfen.' }) }}"
      },
      "id": "error-notify",
      "name": "Admin: Fehler-Benachrichtigung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500]
    }
  ],
  "connections": {
    "Täglich 08:00": {
      "main": [[{ "node": "Tages-Energie generieren (Knowledge Base)", "type": "main", "index": 0 }]]
    },
    "Tages-Energie generieren (Knowledge Base)": {
      "main": [
        [{ "node": "An Telegram-Kanal senden", "type": "main", "index": 0 }],
        [{ "node": "Admin: Fehler-Benachrichtigung", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Numerologie PRO" }, { "name": "Telegram" }, { "name": "Knowledge Base" }]
}
